.code/
.idea/
.vite/
.github/

.env

node_modules/

frontend/node_modules
frontend/.eslintcache
frontend/.pnpm-debug.log
frontend/coverage/
frontend/dist/
frontend/tsconfig.tsbuildinfo

.venv/
**/*/__pycache__/

backend/outputs/